@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Inria Sans", sans-serif;
}

:root {
  --Main-color: #1f1f1f;
  --button-color: #4894fe;
  --Green-Color: #def9c4;
  --heading-font: "Outfit", sans-serif;
}

.home-title {
  font-family: var(--heading-font);
}

.home-section .icons {
  display: flex;
  gap: 1rem;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 3rem;
}

.home-section .svg {
  border-radius: 50%;
  background-color: #f5efff;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.tabs button {
  width: 160px;
  border-radius: 100px;
  border: none;
  background-color: #ffff;
  padding: 15px 10px;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border: 1px solid var(--button-color);
}

.tab-image-icon {
  position: absolute;
  top: 80%;
  right: 5%;
  padding: 15px;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.main-title {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  flex-direction: column;
  text-align: center;
}


.hospital-card svg {
  font-size: 1.6rem;
}

.hospitals-swiper {
  width: 100%;
  padding: 2rem 0;
}

.hospital-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
