@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Inria Sans", sans-serif;
}

:root {
  --Main-color: #1F1F1F;
  --button-color: #4894FE;
  --Green-Color: #DEF9C4;
  --heading-font: "Outfit", sans-serif;
}

.main-container {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: o auto;
    align-items: center;
}

.home {
  max-width: 1250px;
  width: 100%;
  height: min-content;
  margin: 0 auto;
  background-color: var(--Green-Color);
  border-radius: 23px;
}

.home-header h1 {
  font-family: var(--heading-font);
  font-size: 8.5rem;
  font-size: clamp(3rem, 8vw, 10rem);
  color: #1f1f1f;
  text-align: center;
  margin-bottom: -6rem;
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.section-left,
.section-right {
  width: 50%;
  min-height: 15vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
}

.home-section .icons {
  display: flex;
  gap: 1rem;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 3rem;
}

.home-section .svg {
    border-radius: 50%;
    background-color: #F5EFFF;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}


